/* Estilos para la confirmación de cambio de contraseña */

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 40px;
    max-width: 210vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #033468;
    text-align: center;
    background-color: #929292;
}

.titulo {
    font-size: 24px;
    color: #033468;
    margin-bottom: 20px;
    font-weight: bold;
}

.lin {
    display: inline-block;
    padding: 12px 20px;
    background-color: #033468;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
}

.lin:hover {
    background-color: #021d3a;
}

/* Responsivo */
@media (max-width: 480px) {
    .cont {
        width: 90%;
        padding: 20px;
    }
    
    .titulo {
        font-size: 20px;
    }
    
    .link {
        font-size: 14px;
    }
}
