


.padre10 {
    display: flex;
    height: 100vh; 
    justify-content: space-between; }
    
    
    .padre {
        flex: 1; 
        padding: 80px;
        overflow-y: scroll; 
    }
    
    
    .padre .link{
        flex: 60%;
        display: flex; 
    }
    
    
    
    .padre iframe{
        width: 100%;
        height: 100%;
    }
    
    .NOTICIAS h1 {
        font-size: 24px;
        color: #333;
    }
    
    .NOTICIAS article {
        font-size: 16px;
        color: #555;
    }
    .NOTICIAS:hover {
        
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más prominente */
}

.NOTICIAS h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px; /* Espaciado debajo del título */
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease; /* Cambio de color en hover */
}

.NOTICIAS h1:hover {
    color: #007bff; /* Color azul cuando se pasa el mouse */
}

.NOTICIAS article {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease; /* Cambio de color en hover */
}

.NOTICIAS article:hover {
    color: #333; /* Color más oscuro cuando se pasa el mouse */
}


/* Contenedor del mapa */
.mapa {
    flex: 1; /* Ocupa la otra mitad de la pantalla */
    padding: 20px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}






