/* Sección Misión y Visión */
.mision-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;
    max-width: 1000px;
}

.mision, .vision {
    background: white;
    padding: 30px;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover */
.mision:hover, .vision:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Estilos para las imágenes */
.mision img, .vision img {
    width: 80%;  /* Ajusta el tamaño sin perder calidad */
    max-width: 250px;  /* Máximo tamaño */
    height: auto;  /* Mantiene proporción */
    border-radius: 12px;  /* Bordes redondeados */
    margin: 15p}

    header h1 {
        font-size: 4.5em;  /* Tamaño grande */
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        padding: 40px;
        text-align: center;
        font-family: 'Playfair Display', serif;  /* Fuente elegante */
        letter-spacing: 3px;  /* Espaciado entre letras */
    }
    
    /* Estilos para el subtítulo */

     h2 {
      
        text-align: center;
        
    }
    .quienes-somos {
        background-color: #fff;
        padding: 80px 0;
        text-align: center;
    }

    .quienes-somos h2 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
    }

    .quienes-somos p {
        font-size: 1.1rem;
        max-width: 800px;
        margin: 0 auto;
        line-height: 1.6;
        color: #555;
    }

   

    
    
      