{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <title>Urban Style</title>
    <link rel="stylesheet" href="{% static 'tienda/base.css' %}">
</head>
<body>
    
    <!-- Inicio del Header (Menú de navegación) -->
    <header class="header">

        <div class="menu container">

            <a href="{% url 'index' %}" class="logo">
                <img src="{% static 'images/logoyei8a.jpeg' %}" alt="Logo"></a>

            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="{% static 'images/menu.svg' %}" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'index' %}">Inicio</a></li>
                    {% endif %} 
                    <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                    <li><a href="{% url 'mapanoti' %}">Ubicación</a></li>
                    <li><a href="{% url 'productos' %}">productos</a></li>
                </ul>
            </nav>

            {% with total_items=request.user.carritoitem_set.count %}
                {% if total_items > 0 %}
                    <a href="{% url 'ver_carrito' %}" class="icono-login">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="badge bg-danger">{{ total_items }}</span>
                    </a>
                {% endif %}
            {% endwith %}


            <!-- logos(perrfil, carrito, cerrar sesion) -->
        {% if user.is_authenticated %}
            <div class="socials-1">
                <a href="{% url 'perfil' %}"><img src="{% static 'images/login.png' %}" alt=""></a>
                
                
                <a href="{% url 'ver_carrito' %}" class="icono-login">
            
                
                <a href="{% url 'manual' %}"><img src="{% static 'images/manu.png' %}" alt=""></a>
                
                <a href="{% url 'logout' %}">Cerrar Sesion</a>
            
            </div>
        {% endif %} 
        </div>

    </header>
        <!-- Contenido principal del Header -->
        <main>
            {% block content %}
        <!-- Ejemplo de contenido de la página -->
        
            {% endblock %}
         </main>
    
    <!-- Fin del Header -->

    <!-- Aquí va el contenido específico de la página -->
    <!-- Este es el lugar donde puedes insertar el contenido de la página de cada vista -->
     
    

    <!-- Inicio del Footer (Pie de página) -->
    <footer class="footer">

        <div class="container">

            <div class="footer-links">

                <div class="link-img">
                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'images/logoyei8a.jpeg' %}" alt="Logo"></a>
                    <div class="socials-2">
                        <a href="#"><img src="{% static 'images/instagram.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/correo-electronico.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'images/facebook.png' %}" alt=""></a>
                    </div>
                </div>

                <div class="link">
                    <h3>Compra</h3>
                    <ul>
                        <li><a href="#">Nuevas colecciones</a></li>
                        <li><a href="#">Ofertas y descuentos</a></li>
                        <li><a href="#">Guia de tallas</a></li>
                    </ul>
                </div>
                <div class="link">
                    <h3>Contacto 1</h3>
                    <ul>
                        <li><a href="#">sergioochoa012@gmail.com</a></li>
                        <li><a href="#">tell: 3212084693</a></li>
                        <li><a href="#">Cra 3A n15-14 la union (Gigante huila)</a></li>
                    </ul>
                </div>
                <div class="link">
                    <h3>Contacto 2</h3>
                    <ul>
                        <li><a href="#">dkmyei@gmail.com</a></li>
                        <li><a href="#">tell: 3125939633</a></li>
                        <li><a href="#">Central (Gigante huila)</a></li>
                    </ul>
                </div>

            </div>

            <div class="footer-copy">
                <p>"© 2024 [Urabn Style]. Todos los derechos reservados. Diseñado con amor por [Sergio Ochoa y Felipe Arteaga]."</p>
            </div>
        </div>
    </footer>
    <!-- Fin del Footer -->
    
</body>
</html>
