{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'tienda/login.css' %}">

<div class="div">
    <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
            <div>
                <h2>Inicio de Sesión</h2>
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                {% endif %}


                <input type="text" name="username" placeholder="Usuario" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button     type="submit">Ingresar</button>
                <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
            </div>
    </form>  
</div> 

{% endblock%}      
    