{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'tienda/mapanoti.css' %}">

<div class="padre10">
  <div class="padre">
    <h3>CONTACTENOS</h3>
    <div class="NOTICIAS">
      <h1>Donde nos ubicamos</h1>
      <article>
        no ubicamos en el municipio de gigante en el barrio la ceiba Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Dolorem quidem
        amet explicabo atque libero quaerat nemo reprehenderit perspiciatis
        minus officiis temporibus animi rem exercitationem assumenda soluta
        quae, ipsum officia adipisci!
      </article>
    </div>

    <div class="NOTICIAS">
      <h1>Sobre nuestra tienda</h1>
      <article>
        Nuestro compromiso es ofrecerte un servicio excepcional y productos que hagan tu vida más fácil, cómoda y estilosa. ¡Gracias por elegirnos! Tu satisfacción es nuestra prioridad.

        ¡Explora, disfruta y encuentra lo que buscas!
      </article>
    </div>
    <div class="NOTICIAS">
      <h1>Datos relevantes</h1>
      <article>
        Facil de ubicar, Excelenet atencion al cliente Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Inventore, illo animi, at
        cupiditate ut atque consectetur ad unde ipsum quis voluptatem optio
        accusantium suscipit sed harum rerum voluptas accusamus cum!
      </article>
    </div>
  </div>
  <div class="mapa">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3986.3710015356814!2d-75.55507843230967!3d2.381952352108459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMsKwMjInNTUuMCJOIDc1wrAzMycwMS43Ilc!5e0!3m2!1ses!2sco!4v1735934337713!5m2!1ses!2sco"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>

    

{% endblock %}

